/*************************************************************************
* Chris's Standard page preset template 
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   color: #ffffff;
   background-color: #222222;
   font-size: 1.5rem;
   line-height: 1.5;
   letter-spacing: 1px;
   font-family: 'Montserrat', 'Open Sans', sans-serif;
   /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
}

.container {
   width: 100%;
   margin: 0 auto; 
}
img {
   display: flex;
   flex-direction: column;
}

p {
   margin: 1rem auto;
}

input {
   margin: 5px 10px;
   padding: 3px 6px;
}

button {
   margin: 1rem auto;
   padding: 3px 6px;
}

ul,
ol {
   margin: 3px 30px;
}

.red {
   color: red;
}

.titleh1 {
  text-align: center;
  margin: 2rem auto;
}

.btn-reset,
.btn-easy,
.btn-hard {
  font-weight: 900;
  margin: 0 .5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-reset {
  color: #287dec;
  background-color: #ffffff;
}

.btn-easy,
.btn-hard {
  color: #287dec;
  background-color: #ffffff;
}

.selected {
  background-color: #287dec;
  color: #ffffff;
}

span {
  margin: 0 2rem;
}

.container01 {
  width: 80%;
  margin: 0 auto;
}

.row-top3 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row-bottom3 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.square {
  margin: 1rem;
  width: 20rem;
  height: 20rem;
  background: #ee1343;
  border-radius: 2rem;
}

.navbar {
  margin: 2rem 0;
  background-color: #ffffff;
  color: #13940e;
  text-align: center;
}

